.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  background-color: #1e3e62;
  width: 100%;
  height: 100%;
  min-height: 720px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.main-body {
  display: flex;
  gap: 50px;
  max-width: 90%;
  margin: auto;
}

.newjoiner-form {
  max-width: 100%;
  text-align: center;
  border: 1px solid white;
  height: 450px;
  padding: 20px;
}
.task-container-details {
  gap: 20px;
  min-width: 500px;
  max-width: 600px;
  padding: 0px 20px;
  border-top: #102236;
  border-bottom: #102236;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.task-title {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}
.task-title span {
  font-size: 40px;
  cursor: pointer;
}
p {
  line-height: 0.1; /* Adjusts line height for readability */
}
.task-details {
  padding: 10px 30px;
}
ul {
  list-style: none;
}
/* .task-box {
  cursor: pointer;
} */

.newjoiner-form input,
select {
  height: 40px;
  width: 200px;
  padding: 0px 15px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.875);
  border: none;
  border-bottom: 1px solid;
  color: black;
  font-size: 14px;
  border-radius: 10px;
}

.btnGenerate {
  height: 40px;
  width: 95;
  padding: 0px 15px;
  margin: 5px;
  gap: 50px;
  background-color: #5cb85c;
  border: none;
  border-bottom: 1px solid;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 2px;
}
.btnGenerate:hover {
  background-color: #57dc57;
}
.newjoiner-form select {
  height: 40px;
  width: 230px;
  padding: 0px 15px;
  margin: 5px;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.875);
  border: none;
  border-bottom: 1px solid;
  color: black;
  font-size: 14px;
  border-radius: 10px;
}
.employee-container {
  display: flex;
  flex-direction: column;
}

/* Button.css */
.copyBtn {
  background-color: #15304e; /* Background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 15px; /* Padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.copyBtn-AD:hover {
  background-color: #1a3149; /* Darker shade on hover */
}

.copyBtn:active {
  transform: scale(0.98); /* Slightly shrink button on click */
}
